@font-face {
	font-family: 'Minecraft';
	src: url('../font/minecraft.woff2') format('woff2');
}
@media (max-width: 768px) {
    #skin_container {
        margin-bottom: 20px;
    }
}

#skin_container {
    border-radius: 10px;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;

}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 30px;
}

.btn {
    margin-top: 10px;
}
.border-skin {
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Admin iframe styles */
.iframe-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.iframe-box {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 48%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .iframe-box {
        width: 100%;
    }
}
